body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    border: solid black 1px;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    width: auto;
    color: white;
    background-image: url("images/bg0.svg");
    background-size: cover;
}

.hline {
    position: absolute;
    background-color: white;
    width: 3px;
    height: 20vh;
    margin-left: 10%;
}
.hline-bot {
    background-color: white;
    width: 3px;
    height: 40%;
    margin-left: 10%;
    margin-top: -40vh;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-bottom: 10vh;
    text-align: end;
}
.sections-text {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.section-backslash {
    margin-left: 2vw;
    transition: .8s all;
}
.section-title {
    transition: 1.5s all;
}
.sections > div:hover .section-backslash {
    transform: scaleX(-1) translateX(var(--wi));
}
.sections > div:hover .section-title {
    color: coral;
}

h1 {
    font-size: 75px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

.hero-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.right-hero {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

.hero-text {
    margin-left: 8vw;
    margin-bottom: 18vh;
}

.socials {
    display: flex;
    gap: 20px;
    margin-bottom: 40vh;
    margin-left: 3vw;
}

.social-logo {
    margin: 20px;
}

.skills-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 85vh;
    padding: 7.5vh 0;
    color: #111111;
    text-shadow: 1px 0 rgb(194, 194, 194), -1px 0 rgb(194, 194, 194), 0 1px rgb(194, 194, 194), 0 -1px rgb(194, 194, 194),
               1px 1px rgb(194, 194, 194), -1px -1px rgb(194, 194, 194), 1px -1px rgb(194, 194, 194), -1px 1px rgb(194, 194, 194);
    background-image: url("images/bg1.svg");
    background-size: cover;
}

.skills {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-row {
    display: flex;
    justify-content: space-around;
    height: 150px;
}

.skill-logo {
    transition: 1s all;
}

.skill-logo:hover{
    transform: scale(1.2);
}
.skill-logo:hover .tooltip {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
.tooltip {
    color: white;
    opacity: 0;
    transition: opacity 0.9s ease-out;
    padding: 2px 5px;
    position: absolute;
    background-color: coral;
    border-radius: 6px;
    text-align: center;
    text-shadow: 1px 1px black;
}

.projects-section {
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    height: 90vh;
    color: #131314;
    text-shadow: 1px 0 rgb(194, 194, 194), -1px 0 rgb(194, 194, 194), 0 1px rgb(194, 194, 194), 0 -1px rgb(194, 194, 194),
               1px 1px rgb(194, 194, 194), -1px -1px rgb(194, 194, 194), 1px -1px rgb(194, 194, 194), -1px 1px rgb(194, 194, 194);
    background-image: url("images/bg2.svg");
    background-size: cover;
}

.project-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.project-card {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url("images/cardbg1.png");
    background-size: cover;
    background-color: #C6C4C6;
    margin-left: 5vw;
    height: 31vh;
    width: 19vw;
    box-shadow: -40px 40px 0 -3px #141414, -40px 40px white,
        -80px 80px 0 -3px #141414, -80px 80px white;
}
.card-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 6%;
    width: 100%;
    border: 1px solid black;
    background-color: white;
}
.card-button {
    height: 100%;
    width: 12%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    user-select: none;
    animation: pulsating 5s infinite;
}
@keyframes pulsating {
    0%, 100% {
        background-color: white;
    }
    50% {
        background-color: rgb(194, 194, 194);
    }
}
@keyframes moving {
    0%, 100% {
        transform: translateX(30%);
    }
    50% {
        transform: translateX(-30%);
    }
}
.card-button > p {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: -30%;
    padding: 0 0;
    font-weight: 300;
    text-shadow: none;
    animation: moving 5s infinite;
}   
.card-img {
    margin: auto;
    height: 50%;
}

.project-text {
    width: 50%;
}

.card-link {
    margin-left: 3vw;
    color: rgb(194,194,194);
    text-shadow: none;
    text-decoration: underline;
}

@media only screen and (orientation: portrait) {
    .project-container {
        flex-direction: column;
        gap: 8vh;
    }
    .project-card {
        width: 35vh;
        height: 60vw;
        margin-left: 15vw;
    }
    .project-text {
        margin-left: 15vw;
    }
    .card-button > p {
        margin-top: 0;
    }
}

.about-section {
    padding: 10vh 0;
    height: 80vh;
    color: #131314;
    text-shadow: 1px 0 rgb(194, 194, 194), -1px 0 rgb(194, 194, 194), 0 1px rgb(194, 194, 194), 0 -1px rgb(194, 194, 194),
               1px 1px rgb(194, 194, 194), -1px -1px rgb(194, 194, 194), 1px -1px rgb(194, 194, 194), -1px 1px rgb(194, 194, 194);
    background-image: url("images/bg3.svg");
    background-size: cover;
}

p {
    padding: 0 2vw;
    font-size: 30px;
    font-weight: 300;
    color: rgb(194, 194, 194);
    text-shadow: none;
}

.about-bottom {
    display: flex;
    align-items: center;
    margin-top: 20vh;
}
.lline {
    background-color: white;
    height: 3px;
    width: calc(-6vh + 23.6vw);
}
.rline {
    background-color: white;
    height: 3px;
    width: 70vw;
}

a {
    text-decoration: none;
    color: white;
}

.button-up {
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    border-radius: 50%;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 50px;
    transition: 0.6s all;
}
.hide {
    visibility: hidden;
}
.button-up:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-10px);
}

@media only screen and (orientation: landscape) and (max-height: 750px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    .about-bottom {
        margin-top: -26vh;
    }
}

.details-page {
    position: absolute;
    top: 140vh;
    left: 11.4vw;
    background-color: #a3a3a3;
    height: 31vh;
    width: 19vw;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s all;
    user-select: none;
}
.active {
    visibility: visible;
    opacity: 1;
    top: 100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: 2s all ease;
}
.details-close {
    width: 4%;
    height: 8%;
    margin-left: 1.5vw;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.details-close svg {
    width: 100%;
}
.details-cont {
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.details-media {
    margin-top: 6vh;
    height: 70%;
    width: 95%;
    display: flex;
    justify-content: space-around;
}
.details-logo {
    margin-top: 2%;
    width: 8%;
}
.media-main {
    height: 100%;
}
.media-button {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.media-video {
    position: absolute;
    height: 70%;
    width: 70%;
}
@media only screen and (orientation: portrait) {
    .media-main {
        width: 80%;
        height: fit-content;
    }
    .details-logo {
        margin-top: 10%;
        width: 20%;
    }
    .details-media {
        margin-top: 15vh;
    }
    .media-button {
        height: 20%;
        width: 5%;
        margin-top: 8%;
    }
    .details-close {
        height: 2%;
    }
    .media-video {
        height: 20%;
    }
}